# Stealth Autoloader macros

[gcode_macro FILAMENT_LOAD]
gcode:
    FILAMENT_LOAD

[gcode_macro FILAMENT_UNLOAD]
gcode:
    FILAMENT_UNLOAD

[gcode_macro BUFFER_CONTROL_ON]
gcode:
    RESPOND MSG="Buffer control enabled (Python backend)"
